$bg:    #0a0a0a;
$bgalt: #0f0f0f;
$bg2:   #1b1b1b;
$bg3:   #2f2f2f;
$bg4:   #525252;
$bg5:   #727272;
$bg6:   #adadad;
$fg:    #adadad;
$blue:  #33b1ff;
$cyan:  #3ddbd9;
$red:   #ee5396;
$pink:  #ff7eb6;
$peach: #ffab91;
$gween: #42be65;
$purp:  #A27AE1;
$black: #000000;
$alpha: 1.0;
