window.Bar {
    background-color: $bg;
    @if $bar-split {
      background-color: transparent;
    }
	color: $fg;
    >centerbox {
    min-height: 45px;
    padding: 0px 8px 0px 8px;
  }
}

@if $bar-split {
  .modules-1,
  .modules-2,
  .modules-3,
  .modules-4,
  .modules-5 {
    background-color: $bg;
  }

  .modules-1 {
    margin: 0 0 0 -8px;
    padding: 0 8px 0 8px;
  }
  .modules-2 {
    padding: 0 8px 0 8px;
  }
  .modules-3 {
    padding: 0 8px 0 8px;
    background-color: transparent;
  }
  .modules-4 {
    padding: 0 8px 0 8px;
  }
  .modules-5 {
    padding: 0 8px 0 8px;
    margin-right: -8px;
  }
  .mprisbox {
    background-color: $bg;
    padding: 0 8px 0 8px;
    margin: 0 -8px 0 -8px;
  }
  .micbox {
    background-color: $bg;
    padding: 0 8px 0 8px;
  }
}

.icon {
  min-height: 29px;
  min-width: 29px;
  background-color: $bg3;
  font-weight: normal;
  font-size: 16px;
  margin: 8px 0;
}

.module {
  padding: 0px 8px;
  transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
  margin: 8px 0;
  background-color: $bg2;
  padding-top: 1px;
  font-size: 15px;

  &.active {
    background-color: $bg3;
    &:hover {
      background-color: $bg4;
    }
  }

  &:hover {
    background-color: $bg4;
    label {
      font-weight: bold;
    }
  }
  
  &.empty {
    margin-left: 0px;
  }

  &.muted {
    color: $red;
  }

  &.ctrl {
    padding: 0px 0px;
    min-height: 29px;
    min-width: 29px;
    background-color: $bg3;
    font-size: 20px;

    &:hover {
      background-color: $bg4;
    }
  }
}

.ws-button {
  min-width: 60px;
  margin: 8px 0px;

  label {
    transition: background-color 300ms cubic-bezier(0, 0, 0.2, 1);
    padding-top: 1px;
  }

  &.occupied {
    background-color: $bg3;
  }

  &:not(.occupied) {
    background-color: $bg2;

    label {
      color: $bg4;
    }
  }

  &.active {
    label {
      background-color: $fg;
      color: $bg;
      font-weight: bold;
    }
  }

  &:not(.active):hover {
    label {
      background-color: $bg4;
      font-weight: bold;
      color: $fg;
    }
  }
}

.toggles {
  margin-top: 8px;
}

.togglebtn {
  transition: background-color 300ms cubic-bezier(0, 0, 0.2, 1);
  background-color: $bg2;
  min-width: 60px;
  min-height: 30px;
  label {
    transition: background-color 300ms cubic-bezier(0, 0, 0.2, 1);
  }

  &:not(.active):hover {
    label {
      background-color: $bg4;
      font-weight: bold;
      color: $fg;
    }
  }

  &.active {
    color: $bg;
    background-color: $fg;
    label {
      font-weight: bold;
    }
    &:hover {
      background-color: transparentize($fg, 0.3);
      label {
        font-weight: bold;
      }
    }
  }

}

tooltip {
  background-color: $bg;
}
