$bg:    #0a0a0a;
$bg2:   #1b1b1b;
$bg3:   #2f2f2f;
$bg4:   #525252;
$fg:    #cdcdcd;
$blue:  #33b1ff;
$cyan:  #3ddbd9;
$red:   #ee5396;
$pink:  #ff7eb6;
$peach: #ffab91;
$gween: #42be65;
$purp:  #A27AE1;
