@use "../colors" as *;

.desktop {
  background-color: red;
  opacity: 0.2;
}

separator {
  margin: 0 0;
  background-color: $bg4;
}

.menu-item {
  font-size: 16px;
}

.menu-sep {
  &:hover {
    background-color: $bg;
  }
}

.splash {
  font-size: 16px;
  color: $bg4;
  padding: 16px;
}
